/* TEST: autoprefixer. */
.autoprefixer {
	animation-delay: 3s
}

/* TEST: Main CSS file inclusion. */
.css-main {
	color: green;
	animation-delay: 3s
}

/* TEST: CSS image name rewrite by the rev task. */
.css-img {
	display: inline-block;
	background-image: url('../images/css-img.png');
	width: 20px;
	height: 20px;
}
