doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Application Foundation

		// build:css({.tmp,.}) styles/main.css
		link(rel="stylesheet" href="styles/css.css")
		link(rel="stylesheet" href="styles/css/sub.css")
		link(rel="stylesheet" href="bower_components/css/ext.css")
		
		link(rel="stylesheet" href="styles/less.css")

		link(rel="stylesheet" href="styles/sass.css")
		// endbuild

	body
		h1 Test Suite

		h2 Styles
		p.css-main The main CSS file included.
		p.css-sub The CSS file in a subcatalogue included.
		p.css-ext External CSS library included.
		p.less-main Main LESS file included.
		p.less-import Imported LESS file included.
		p.less-ext External LESS library included.
		p.sass-main Main SASS file included.

		h2 Scripts
		p Debug mode is
			span#debug-mode OFF

		p#js-main JS main file is included.
		p#js-subfile JS file in a subcatalogue is included.

		p#coffee-main Coffee main file is included.
		p#coffee-subfile Coffee file in a subcatalogue is included.

		p#ext-lib External library included.

		p#req-main Loaded require file.
		p#req-sub Loaded required file in a subcatalogue.
		p#req-ext Loaded external require file.

		h2 Images
		p HTML image - <img src="images/html-img.png">
		p CSS image - <span class="css-img"></span>
		p JS image - <img id="js-img" src="">

		// build:js({.tmp,.}) scripts/scripts.js
		script(src="scripts/main.js")
		script(src="scripts/javascript/subfile.js")

		script(src="scripts/main-cs.js")
		script(src="scripts/coffee/subfile.js")

		script(src="bower_components/js/ext-library.js")
		// endbuild

		script(src="require.js", data-main="scripts/req-main.js")
